@layout MainLayout
@page "/price-hair"
@inject IJSRuntime JSRuntime
@inject PriceHairService PriceHairService
@inject AllModelService AllModelService

<nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-no-gutter mb-3 m-md-3">
        <li class="breadcrumb-item active" aria-current="page">Price Hairstyle</li>
    </ol>
</nav>
<div class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll animation-engine-js loaded dzsprx-readyall" data-options="{direction: &quot;normal&quot;}">
    <!-- Apply your Parallax background image here -->
    <div class="divimage dzsparallaxer--target" style="height: 130%; background-image: url(&quot;./fotos/image2/12.jpg&quot;); transform: translate3d(0px, -55.5068px, 0px);"></div>

    <!-- Content -->

    <div class="container space-2 space-md-3">
        <div class="text-center w-lg-80 mx-auto">
            <h1 class="text-white display-1 font-size-md-down-5 font-weight-semi-bold " style="font-family:consolas "><a style="color:red">Hairstyle</a></h1>
        </div>
        @*<div class="text-center w-lg-40 mx-auto">
                <p class="lead text-white-70" style="font-family:consolas "><span style="color:blueviolet">These services at our Carpentersville location only.</span></p>
            </div>*@
    </div>
    <!-- End Content -->
</div>
<div class="container space-top-sm-3 space-bottom-sm-2 space-bottom-sm-2">
    <div class="table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounded">
        <h3 class="text-sm-center" style="font-family:consolas"> Hair Color & Chemical Services</h3>
        <table class="table table-bordered table-striped  table-responsive-md u-datatable  shadow-primary-lg p-3 mb-5 rounde">
            <thead>
                <tr class="text-uppercase font-size-1 text-sm-center">
                    <th scope="col" class="font-weight-medium">
                        <div class="justify-content-between align-items-center" style="font-family:consolas">
                            Hair Color & Chemical Services
                            <div class="ml-2">
                            </div>
                        </div>
                    </th>
                    <th scope="col" class="font-weight-medium">
                        <div class=" justify-content-between align-items-center" style="font-family:consolas">
                            Starting At
                            <div class="ml-2">
                            </div>
                        </div>
                    </th>
                </tr>
            </thead>
            @foreach (var item in listPsrice)
            {
                <tbody class="font-size-1">
                    <tr>
                        <td class="align-middle text-sm-center" style="font-family:consolas">@item.Description</td>
                        <td class="align-middle text-sm-center" style="font-family:consolas"><span class="oi oi-dollar"></span>@item.Price</td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
<div class="container space-top-0 space-bottom-md-1 space-bottom-0">
    <div class="row">
        <div class="col navMenu">
            <h2 class="text-center">Our specialists will take care of you.</h2>
        </div>
        <br />
        <div class="col-12 text-center">
            <a class="btn btn-outline-success mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-outline-success mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
        <div class="col-12">
            <div id="carouselExampleIndicators2" class="carousel slide text-center" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row justify-content-center">
                            @foreach (var item in listHair.Take(3))
                            {
                                <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                                    <div class="card mb-3">
                                        <img src="data:image/jpg;base64, @item.Image" class="img-thumbnail text-right" alt="" />
                                        <div class="card-body ">
                                            <h5 class="card-title">@item.Title</h5>
                                            <p class="card-text">@item.ShortDescription</p>
                                        </div>
                                        <div class="card-footer">
                                            <a class="btn btn-outline-primary text-center m-1" href="services">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">

                            @foreach (var item in listHair.Skip(3).Take(3))
                            {
                                <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                                    <div class="card mb-3">
                                        <img src="data:image/jpg;base64, @item.Image" class="img-thumbnail text-right" alt="" />
                                        <div class="card-body ">
                                            <h5 class="card-title">@item.Title</h5>
                                            <p class="card-text">@item.ShortDescription</p>
                                        </div>
                                        <div class="card-footer">
                                            <a class="btn btn-outline-primary text-center m-1" href="services">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row justify-content-center">

                            @foreach (var item in listHair.Skip(6).Take(3))
                            {
                                <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                                    <div class="card mb-3">
                                        <img src="data:image/jpg;base64, @item.Image" class="img-thumbnail text-right" alt="" />
                                        <div class="card-body ">
                                            <h5 class="card-title">@item.Title</h5>
                                            <p class="card-text">@item.ShortDescription</p>
                                        </div>
                                        <div class="card-footer">
                                            <a class="btn btn-outline-primary text-center m-1" href="services">Read more</a>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                   @*<div class="carousel-item">
                    <div class="row justify-content-center">

                        @foreach (var item in massageList.Skip(9).Take(3))
                        {
                            <div class="card-deck card-sm-gutters-3 d-block d-sm-flex col-md-4 col-sm-offset-8 col-xs-12 text-center padding wow fadeIn service-item  p-3 mb-5 rounded card-sm-gutters-1 d-block d-sm-flex">
                                <div class="card mb-3">
                                    <img src="data:image/jpg;base64, @item.Image" class="img-thumbnail text-right" alt="" />
                                    <div class="card-body ">
                                        <h5 class="card-title">@item.Title</h5>
                                        <p class="card-text">@item.ShortDescription</p>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-outline-primary text-center m-1" href="services">Read more</a>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                </div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wpb_text_column wpb_content_element  vc_custom_1578150217369">
    <div class="wpb_wrapper m-4">
        <p style="font-family:consolas">We are 100% committed to you loving your hair cut and hair color. Our team of experts are pretty much master craftswomen in the hair world. However, if there’s ever any need for fine tuning or adjusting your look after service, please just give us a call. It’s seriously our pleasure to get your hair exactly where you want it to be. And if you’ve got unrealistic expectations, we’ll let you know that as well, with grace and communication. Some people just aren’t meant to have a purple pixie, it’s ok.</p>

    </div>
</div>

@code {
    protected List<PriceHair> listPsrice = new List<PriceHair>();
    protected List<ModelService> listHair = new List<ModelService>();

    protected override async Task OnInitializedAsync()
    {
        listPsrice = await PriceHairService.GetAllListAsync();
        listHair = await AllModelService.GetAllListAsync();
        this.StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("loadScripts");
        }
    }
}
